# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Folders
*.vscode/
*release/
*hek_defs/
*tags/
*guides/
*backups/
*build/
*_test/
*_refs/

# Files
# manifest.json
create_mzp.lua
*.mzp
*.tif
*.7z
*.max
*.jms

# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.dylib

# Executables
*.out
*.app
*.i*86
*.x86_64
*.hex

# Test Files
*test_shader_model_reader.ms
*test_shader_chicago_reader.ms
*test_shader_chicago_ext_reader.ms
*test_shader_glass_reader.ms
*test_shader_generic_reader.ms
*test_shader_meter_reader.ms
*test_shader_water_reader.ms